<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>結果頁面</title>
<style>
    table, th, td {
     border: 1px solid black;
     padding: 5px;
        }
    table {
     border-spacing: 15px;
        }
</style>
</head>
<body>
<h2>最近5天獲利金額</h2>
<table style="width:100%">
    <tr>
      <th>date</th>
      <th>Total Pos</th>
    </tr>
    <tr>
      <td>{{data8.index[-1]}}</td>
      <td>{{data8.values[-1]}}</td>
    <tr>
      <td>{{data8.index[-2]}}</td>
      <td>{{data8.values[-2]}}</td>
    <tr>
      <td>{{data8.index[-3]}}</td>
      <td>{{data8.values[-3]}}</td>
    <tr>
      <td>{{data8.index[-4]}}</td>
      <td>{{data8.values[-4]}}</td>
    <tr>
      <td>{{data8.index[-5]}}</td>
      <td>{{data8.values[-5]}}</td>
</table>
    <h3>今年獲利圖</h3>
    <img src={{data9}} /> 
    <a href="/">回首頁</a>
</body>
</html>